.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: verdana, arial, helvetica;   
}
h1{
    font-family: verdana;
    position: relative;
    left: 10px;
}
ul{
    display: block;
    margin: 0;
    padding: 0;
}
li{
    display:inline;
    list-style-type: none;
    margin: 2px 4px;
}
li a{
    text-decoration: none;
    color: black;

}

.container{
    display: grid;
    width: 100%;
    padding: 50px 0px;
    grid-template-columns: repeat(4,1fr);
    gap: 30px 0px;
    align-items: center;
    justify-items: center;
}
#main-image{
    display: block;
    margin: 20px auto;
    max-width: 90%;
}

@media (max-width: 480px){
    .container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.card{
    
    border: 0.8px solid rgb(227, 186, 235);
    padding: 10px;
    width: 300px;
    height: 350px;
    background-color: rgb(240, 240, 240);
    font-family: sans-serif;
    border-radius: 30px;
    transition: all 0.2s;
}
.card:hover{
    margin-top: -15px;
    box-shadow: 5px 5px 5px rgb(234, 204, 240);
}

.card-body{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.card-title{
    font-size: 24px;
}
.card-salary{
    margin: 5px 0px 5px 0px;
}
.card-description{
    height:170px;
}

#apply{
    border: 0;
    padding: 10px 20px;
    margin: 10px;
    float: right;
    background-color: blue;
    color: white;
    border-radius: 10px;
}
#apply a{
    text-decoration: none;
    text-emphasis: none;
    color: white;
}